@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --main-color: hotpink;
  --pane-padding: 5px 42px;
  --font-small: 15px;
  --font-md: 40px;
  --c-white: #fff;
  --c-primary: #0367ca;
  --c-primary-red: #e30613;
  --c-secondary: #052f8a;
  --c-menu: #ccf;
  --c-border: #c46f20;
  --c-txt-grey: #c6ecf3;
  --w: 1200px;
}





* {
  margin: 0;
  font-family: "Quicksand";

}

.navbar {
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  font-size: var(--font-small);
  background-color: var(--c-primary);
  align-items: center;
  border-bottom: 3px solid var(--c-border);
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;

}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 13px;
  border-radius: 5px;
  color: var(--c-white);


}

.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

fieldset a {
  color: red;
}

.home {
  text-align: center;
}

.home h1 {
  padding: 40px;
}

.spinner {
  animation: spin infinite 5s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading {
  font-size: var(--font-md);
  text-align: center;
  margin-top: 280px;
}

.img-group {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 20px auto;
}


.img-item {
  background-color: var(--c-txt-grey);
  color: white;
  border: 1px solid var(--c-border);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

figure button {
  font-size: var(--font-small);
  margin: 0px 3px;

}


form {

  width: 350px;
  height: 200px;
  background-color: rgb(252, 204, 133);
  margin: 120px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 90px 1px;



}

form .name-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  
}

form .link-group {
  display: flex;
  flex-direction: column;
}

form .body-group {
  display: flex;
  flex-direction: column;
  margin-top: 5px;

}

textarea {
  width: 140%;
  height: 100px;

}

form input {
  font-size: 13px;
}

h4{
  background-color: rgb(238, 163, 64);
  padding: 5px;
}

form label {
  font-size: var(--font-small);
  color: rgb(15, 15, 15);
  font-weight: bolder;
  
}

form button {
  font-size: var(--font-small);
  margin-top: 15px;
}

a{
  list-style:none;
  text-decoration: none;
}
.car-body{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.car-body img{
  width: 920px;
  height: 540px;
}

@media screen and (max-width:1500px) {
  .img-group {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    padding: 10px auto;
  }
}

@media screen and (max-width: 900px) {
  .img-group {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto;
    padding: 20px auto;
  }
}