@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --main-color: hotpink;
  --pane-padding: 5px 42px;
  --font-small: 17px;
  --font-md: 25px;
  --c-white: #fff;
  --c-primary: #0367ca;
  --c-primary-red: #e30613;
  --c-secondary: #052f8a;
  --c-menu: #ccf;
  --c-border: #c46f20;
  --c-txt-grey: #c6ecf3;
  --w: 1200px;
}





* {
  margin: 0;
  font-family: "Quicksand";

}

body {
  margin-top: 100px;
}


.navbar {
  padding: 2px;
  justify-content: space-evenly;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  font-size: var(--font-small);
  background: linear-gradient(180deg, #0b302e 0%, rgb(22, 17, 12) 50%, #110000 100%);
  align-items: center;
  border-bottom: 3px solid var(--c-border);
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;

}

.navbar a {
  text-decoration: none;
  padding: 3px;
  border-radius: 5px;
  color: var(--c-white);
  text-decoration: none;

}

.navbar a:hover {
  color: #929091;
  text-decoration: none;
  transition: 0.3s ease-out;

}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

fieldset a {
  color: red;
}

.home {
  text-align: center;
}

.home h1 {
  padding: 40px;
}

.spinner {
  animation: spin infinite 5s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading {
  font-size: var(--font-md);
  text-align: center;
  margin-top: 280px;
}

.img-group {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
  padding: 10px auto;
}


.img-item {
  background-color: var(--c-txt-grey);
  color: white;
  border: 1px solid var(--c-border);
  padding: 5px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: auto;
}

figure button {
  font-size: var(--font-small);
  margin: 0px 3px;

}


h4 {
  background-color: rgb(238, 163, 64);
  padding: 5px;
}



a {
  list-style: none;
  text-decoration: none;
}

.car-body {
  display: flex;
  justify-content: center;
  align-items: center;

}

.car-body img {
  width: 920px;
  height: 540px;
}

@media screen and (min-width:1200px) {
  .img-group {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    padding: 10px auto;
  }
}

@media screen and (max-width: 1100px) {
  .img-group {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto;
    padding: 20px auto;
  }
}

@media screen and (max-width: 900px) {
  .img-group {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto;
    padding: 20px auto;
  }
}


.flip-card {
  background-color: transparent;
  width: 440px;
  height: 240px;
  perspective: 1000px;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #000a11;
  color: white;
  transform: rotateY(180deg);
  font-size: var(--font-small)
}